body {
    font-family: Arial;
    padding: 20px;
    background: #f5f5f5;
}

button {
    padding: 10px;
    margin: 5px;
}

#inputs input {
    margin: 5px;
    padding: 5px;
}

#printArea {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
}

.ticket canvas {
    width: 100%;
}

@media print {
    body * { visibility: hidden; }
    #printArea, #printArea * { visibility: visible; }

    #printArea {
        position: absolute;
        top: 0;
        left: 0;
    }

    .ticket {
        height: 130mm;
    }

    button { display: none; }
}